#image1 {
    background: url("globe.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#image2 {
    background: url("globe.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}