div {
    color: #fff;
}

#grad1 {
    height: 100px;
    background-image: repeating-linear-gradient(
            45deg,
            red,
            blue 7%,
            green 10%
    );
}

#grad2 {
    height: 100px;
    background-image: repeating-linear-gradient(
            190deg,
            red,
            blue 7%,
            green 10%
    );
}

#grad3 {
    height: 100px;
    background-image: repeating-linear-gradient(
            90deg,
            red,
            blue 7%,
            green 10%
    );
}