body {
    background-color: #f5f5dc;
    color: #333333;
    font-family: Verdana, Arial, sans-serif;
    line-height: 1.6;
}

p {
    font-size: 16px;
    text-align: justify;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}